.kk_add_images_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	box-sizing: border-box;
}
.kk_add_images_wrapper{
	margin: 20px;
	padding: 5px;
	border: 3px ridge #999;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.kk_add_images_wrapper a{
	width: 300px;
	height: 300px;
}
.kk_add_images_wrapper img{
	display: block;
}